
/* Container da listagem */
.container {
  max-width: 1200px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilo da tabela */
table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background-color: #007bff; /* Azul padrão Bootstrap */
}

thead th {
  color: white;
  padding: 12px;
  text-transform: uppercase;
  font-weight: bold;
}

tbody td {
  padding: 12px;
  border-bottom: 1px solid #dee2e6;
}

tbody tr:hover {
  background-color: #f1f1f1;
}

.text-center {
  text-align: center;
}

/* Estilo dos ícones de ação (editar/excluir) */
img {
  cursor: pointer;
}

img:hover {
  opacity: 0.8;
}

/* Botão de cadastro */
.btn-success {
  background-color: #5bc0de; /* Azul claro */
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 8px;
  font-weight: bold;
  border: none; /* Remove a borda verde padrão */
}

.btn-success:hover {
  background-color: #2b97b8; /* Um tom um pouco mais escuro para o hover */
}


/* Para telas menores (responsividade) */
@media (max-width: 768px) {
  .container {
    padding: 10px;
  }

  th, td {
    font-size: 14px;
    padding: 8px;
  }

  .btn-success {
    font-size: 14px;
  }
}
